{
    "extends": "vacuumlabs",
    "rules": {
      "object-curly-spacing": "off"
    },
    "env": {
      "node": true,
      "browser": true,
      "jest": true
    },
    "globals": {
      "Promise": true
    }
  }
